<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @entry.name %>
</p>

<p>
  <b>Address:</b>
  <%= @entry.address %>
</p>

<p>
  <b>Timestamp:</b>
  <%= @entry.timestamp %>
</p>

<p>
  <b>Price:</b>
  <%= @entry.price %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
